<h1>Neubloc Talk - przykłady</h1>

<hr>

<%= link_to "Page Caching", page_cachings_path, class: 'btn btn-primary' %>
<%= link_to "Action Caching", page_cachings_path, class: 'btn btn-primary' %>
<%= link_to "Fragment Caching", fragment_cachings_path, class: 'btn btn-primary' %>
